* {
    grid-area: auto;
    grid-template-rows: 80px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .capa-filme {
    max-width: 100px;
    height: auto;
  }

  .botao-editar, .botao-excluir {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }

  .botao-excluir {
    background-color: #f44336;
  }

  .botao-cadastrar {
    background-color: #D9D9D9;
    border: none;
    color: #181A28;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
  }

  body {
    background-color: #181A28;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  td {
    background-color: #181A28;
    color: aliceblue;
  }

  th {
    color: aliceblue;
  }

  header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #868686;
  }
  
  button {
    align-items: center;
  }

  .botao-cadastrar {
    display: block;
    margin: auto;
  }

  td {
    padding: 10px;
    border: 3px solid #000000;
    background-color: #3a3a3a;
  }

  .botao-editar, .botao-excluir {
    display: block;
    margin-right: 10px;
    padding: 8px 16px;
}

.cadastro-titulo {
  margin-top: 30px;
  text-align: center;
}

.cadastro-titulo > a {
    margin-top: 30px;   
    background-color: #005AE1;
    color: #FFFFFF;
    padding: 10px 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mensagem {
  color: white;
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #005AE1;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  right: 30px;
}

button:hover {
  background-color: #004ec4;
}