* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.texto {
    direction: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "h c";
}

.esquerda {
    grid-area: h;
    background-image: url(imagens/fundo.png);
    height: 100%;
    background-size: 100%;
}

.esquerda > h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFF;
}

.direita {
    grid-area: c;
    background-color: #181A28;
    height: 100%    ;
}

form {
    width: 400px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 350px;
}

button[type="submit"] {
    background-color: #005AE1;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.efeito-vidro {
    box-shadow: 0 8px 70px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 30px;
  }