header {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.form-group {
  display: grid;
  gap: 10px;
}

.img {
  margin: auto;
}

label {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ddd;
}

input::placeholder {
  opacity: 50%;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="file"] {
  display: none;
}

.max-width {
  max-width: 10px;
  width: 100%;
}

button[type="submit"] {
  background-color: #005AE1;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: #004cbf;
  transition-duration: 0.4s;
}

body {
  background-color: #181A28;
}

.efeito-vidro {
  box-shadow: 0 8px 70px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 30px;
}

#imgPhoto {
  max-width: 35px;
  cursor: pointer;
  transition: background .4s;
  border-radius: 35%;
}

#imgPhoto:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 35%;
}

.tudo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 28px;
}