* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.efeito-vidro {
    box-shadow: 0 0px 50px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 30px;
  }

input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    background-color: #181A28;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}

button {
    background-color: #005AE1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 17px;
}

input::placeholder {
    color: #434343;
    opacity: 50%;
}

button:hover {
    background-color: #0042a4;
}

p {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}